.card.shadow.mb-4
  .card-header.py-3
    if(language == 'en')
      h6.m-0.font-weight-bold.text-primary List Data
    else 
      h6.m-0.font-weight-bold.text-primary Listar Dados
  .card-body
    .table-responsive
      table#dataTable.table.table-bordered(width='100%' cellspacing='0')
        thead
          if(language == 'en')
            tr
              th Type
              th Title
              th ID
              th Created At
              th Action
          else
            tr
              th Tipo
              th Título
              th ID
              th Criado em
              th Ação
        tbody
          each data, index in datas
            tr
              td
                = data.type
              td
                = data.metadata.title
              td
                = data.id
              td
                = data.created_at

              td
                if(language == 'en')
                  a.btn.btn-info.btn-sm.btn-circle.mr-2(
                    data-toggle="tooltip" data-placement="top" title="See Details" href="/data/" + data.id
                  )
                   i.fas.fa-eye
                else
                  a.btn.btn-info.btn-sm.btn-circle.mr-2(
                    data-toggle="tooltip" data-placement="top" title="Ver Detalhes" href="/data/" + data.id
                  )
                    i.fas.fa-eye
                if(language == 'en')
                  a.btn.btn-secondary.btn-sm.btn-circle.mr-2(
                    data-toggle="tooltip" data-placement="top" title="See History" href="/data/" + data.id + "/list-operations"
                  )
                    i.fas.fa-history
                else 
                  a.btn.btn-secondary.btn-sm.btn-circle.mr-2(
                    data-toggle="tooltip" data-placement="top" title="Ver Histórico" href="/data/" + data.id + "/list-operations"
                  )
                    i.fas.fa-history
                if(language == 'en')
                  a.btn.btn-primary.btn-sm.btn-circle.mr-2(
                    data-toggle="tooltip" data-placement="top" title="Buy Data" href="/data-buy/" + data.id
                  )
                    i.fas.fa-shopping-cart
                else 
                  a.btn.btn-primary.btn-sm.btn-circle.mr-2(
                    data-toggle="tooltip" data-placement="top" title="Comprar Dado" href="/data-buy/" + data.id 
                  )
                    i.fas.fa-shopping-cart
