extends ../layout/layout.pug

block append header

block content
  .container.mt-4
    h1 Detalhes do Smart Contract
    .card.mb-4
      .card-header.card-header.d-flex.justify-content-between.align-items-center Smart Contract
        div 
          a.btn.btn-primary.btn-sm.text-white(data-toggle="modal" data-target="#buyModal" title="Comprar o dado")
            i.fas.fa-shopping-cart.mr-2
            | Comprar o dado
      .card-body
        form
          .form-group
            label.mb-1(for='dnaId') ID do DNA correspondente
            input#dnaId.form-control(disabled type='text' value= dnaContract.dna_id)
          .form-row
            .form-group.col-md-6
              label.mb-1(for='id') ID
              input#id.form-control(disabled type='text'  value=dnaContract.id)
            .form-group.col-md-6
              label.mb-1(for='created_at') Criado em
              input#id.form-control(disabled type='text'  value=dnaContract.created_at)
          .form-group 
            label.mb-1(for='raw_data_price') Raw Data Price
            input#price.form-control.bio-money-input(disabled value=dnaContract.raw_data_price type='text')
          .card.mb-3
            .card-header Payment Distribution (in percentage)
            .card-body
              .form-row
                .form-group.col-md-3
                  label.mb-1(for='price') Collector
                  input#price.form-control.percentage(disabled value=dnaContract.payment_distribution.collector type='text')
                .form-group.col-md-3
                  label.mb-1(for='price') Processor 
                  input#price.form-control.percentage(disabled value=dnaContract.payment_distribution.processor type='text')
                .form-group.col-md-3 
                  label.mb-1(for='price') Validators
                  input#price.form-control.percentage(disabled value=dnaContract.payment_distribution.validators type='text')
                .form-group.col-md-3
                  label.mb-1(for='price') Curator
                  input#price.form-control.percentage(disabled value=dnaContract.payment_distribution.curator type='text')
          .card
            .card-header Royalty Payments
            .card-body
              each royalty_payment, index in dnaContract.royalty_payments
                .form-row
                  .form-group.col-md-4
                    label.mb-1(for='price') Type
                    input.form-control(disabled value=royalty_payment.type)
                  .form-group.col-md-2
                    label.mb-1(for='value') Value 
                    input.form-control(disabled value=royalty_payment.value)

  include components/buy-modal.pug


block append scripts
